body {
    font-family: itc;

    &::-webkit-scrollbar {
        background-color: rgba(#535353, 0.2);
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($maincolor, 0.5);
        border-radius: 25px;

        &:hover {
            background-color: rgba($maincolor, 1);
        }
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: rgba($maincolor, 0.75) rgba(#535353, 0.2);
}

.container {
    max-width: 1170px;

}

.fixall {
    outline: none;
    box-shadow: none;
    border: none;
    text-decoration: none;
    padding: 0;
    margin: 0;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}